@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --clr-primary-softblue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);

    --ff-base: 'Outfit', sans-serif, serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 500;
}

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

#root, #__next {
    isolation: isolate;
}

body {
    font-family: 'Outfit', sans-serif, serif;
    font-weight: var(--fw-regular);
    color: var(--clr-primary-softblue);
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.product {
    width: 25em;
    height: 42em;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1em;
}

picture {
    margin: 1.2em;
    position: relative;
}

.equilibrium {
    border-radius: 1em;
    width: auto;
    height: auto;
}

.product__title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 0.85em;
    display: inline-block;
}

.product__description {
    margin: 1em 0 0 1.2em;
    font-size: 1.1rem;
}

.bottom {
    margin-top: 0.2em;
}

.flex-group {
    display: flex;
    margin-top: 1em;
    margin-left: 1.2em;
    justify-content: space-between;
}

.cost {
    display: flex;
}

.time-left {
    display: flex;
    margin-right: 1em;
}

.product__price {
    margin-left: 0.5em;
    color: var(--clr-primary-cyan);
    font-size: 1.1rem;
}

.days-left {
    margin-left: 0.5em;
}

.line {
    width: 22em;
    background-color: var(--clr-primary-softblue);
    opacity: 40%;
    height: 1px;
    margin: 1.8em auto;
    margin-bottom: 0;
}

.product__author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0 0 0.4em;
}

.author-picture {
    border: 1px solid white;
    border-radius: 50%;
    width: 3rem;
    height: auto;
}

:where(.jules-link, .jules.link:visited) {
    color: #fff;
    text-decoration: none;
}

.jules-link:hover,
.jules-link:focus {
    color: var(--clr-primary-cyan);
    transition: .8s;
}

/* TODO Design the hover effects for the equilibrium image and heading. */
.image-container::before {
    content: '';
    position: absolute;
    background: var(--clr-primary-cyan);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    opacity: 0; /* 0.4 */
}

.image-container:hover::before {
    opacity: 0.4;
    transition: 0.8s;
    cursor: pointer;
}

.product__title:hover {
    color: var(--clr-primary-cyan);
    cursor: pointer;
    transition: color 0.8s;
}
